﻿@{
    if (ViewBag.IsLanding == null)
    {
        ViewBag.IsLanding = false;
    }

    string bodyClass = ViewBag.IsLanding ? "body-landing" : String.Empty;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cortex</title>
</head>
<body class="@bodyClass">
    <nav>
        <ul class="navbar">
            <li>
                <img class="logo" src="/images/logo.svg" alt="Logo" />
            </li>
            <li class="navbar-heading">
                <a href="/" class="fs-1">Cortex</a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                <li class="navbar-item">
                    <a id="user-name-label"
                       class="fs-4"
                       asp-controller="Users"
                       asp-action="GetUser"
                       asp-route-userName="@User.Identity.Name.ToLower()">
                        @User.Identity.Name.ToLower()
                    </a>
                </li>
                <li class="navbar-item">
                    <form method="post" asp-controller="Account" asp-action="LogOut">
                        @Html.AntiForgeryToken()
                        <button class="fs-4 button-link">Log out</button>
                    </form>
                </li>
            }
            else
            {
                <li class="navbar-item">
                    <a class="fs-4" asp-controller="Account" asp-action="Register">Register</a>
                </li>
                <li class="navbar-item">
                    <a class="fs-4" asp-controller="Account" asp-action="LogIn">Log in</a>
                </li>
            }
        </ul>
    </nav>

    <div class="main-container">
        @if (User.Identity.IsAuthenticated)
        {
            <ul class="menu">
                <li class="menu-item">
                    <a class="fs-4" asp-controller="Networks" asp-action="CreateNetwork">
                        <i class="fa fa-plus"></i>
                        Create network
                    </a>
                </li>
                <li class="menu-item">
                    <a class="fs-4" asp-controller="Networks" asp-action="GetOwnNetworks">
                        <i class="fa fa-user"></i>
                        Your networks
                    </a>
                </li>
                <li class="menu-item">
                    <a class="fs-4" asp-controller="Networks" asp-action="GetSharedNetworks">
                        <i class="fa fa-users"></i>
                        Shared with you
                    </a>
                </li>
            </ul>
        }
        
        @if (ViewBag.IsLanding)
        {
            <div class="body">
                @RenderBody()
            </div>
        }
        else
        {
            <div class="body">
                @RenderBody()
            </div>
        }
    </div>

    <environment include="Development">
        <script src="~/dist/bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/dist/bundle.js" asp-append-version="true"></script>
    </environment>
</body>
</html>
