﻿@import "constants.less";

.accesses-editor {
    display: flex;
    flex-direction: row;
    border-left: 1px solid @border-color;
    border-right: 1px solid @border-color;
    background-color: white;

    .labels-column {
        flex: 1 1 0%;

        .cell {
            padding-left: 20px;
            justify-content: flex-start;
        }
    }

    .column {
        flex: 0 0 100px;
    }

    .cell {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        border-bottom: 1px solid @border-color;

        &:first-child {
            border-top: 1px solid @border-color;
        }
    }
}

.permissions-editor {
    .editor-row {
        display: flex;
        margin-top: 10px;

        & > :first-child {
            flex: 0 0 100px;
        }

        & > :last-child {
            flex: 1 1 0%;
        }
    }
}

.added-users-list {
    display: flex;
    flex-wrap: wrap;

    .user-label {
        background-color: @primary-color;
        color: white;
        padding: 2px 5px;
        margin: 0 10px 10px 0;

        .close-icon {
            margin-left: 5px;
        }
    }
}

.search-query-input {
    position: relative;

    input {
        width: 100%;
    }

    .search-icon {
        position: absolute;
        top: 10px;
        right: 5px;
    }
}

.dropdown-list {
    margin-top: 5px;
    background-color: white;
    border: 1px solid @border-color;
    height: 100px;
    overflow-y: scroll;
    position: relative;

    .empty-item,
    .list-item {
        padding: 5px 10px;
    }

    .list-item {
        cursor: pointer;

        &:hover {
            background-color: @background-color;
        }
    }

    .fade {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0.5;
    }
}