﻿@import "~getbase/less/base";

@import "constants.less";
@import "forms.less";

body {
    background-color: @background-color;
    display: flex;
    flex-direction: column;
    height: 100vh;
    cursor: default;
}

.navbar {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0;
    list-style-type: none;
    background-color: @primary-color;
    color: @light-text-color;
    cursor: default;

    li {
        margin-bottom: 0;
    }

    .navbar-heading + .navbar-item {
        margin-left: auto;
    }

    .navbar-heading,
    .navbar-item {
        margin: 0 10px;

        a,
        .button-link {
            color: inherit;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .navbar-heading a:hover {
        text-decoration: none;
    }
}

.logo {
    height: 40px;
    vertical-align: middle;
}

.main-container {
    flex-grow: 1;
    display: flex;

    .body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;
        padding: 30px;
        background-color: @background-color;

        & > * {
            flex: 0 0 auto;
            color: @text-color;
        }
    }
}

.menu {
    flex: 0 0 250px;
    padding: 10px 0;
    margin: 0;
    list-style-type: none;
    background-color: @dark-background-color;

    .menu-item {
        &:hover {
            background-color: #616161;
        }

        a {
            display: block;
            padding: 10px 30px;
            color: @light-text-color;
            text-decoration: none;
        }

        i {
            width: 30px;
        }
    }
}

// General styles
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    &:focus {
        border-color: @primary-color;
    }

    &.invalid {
        border-color: #F44336;
        background-color: #FFCDD2;
    }
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.button {
    border-radius: 20px;

    & > :not(:first-child) {
        margin-left: 5px;
    }

    &:disabled {
        background-color: initial;
    }

    &:focus {
        outline: none;
    }
}

.button-light {
    .button();
    background-color: white;
}

.button-primary {
    .button();
    background-color: @primary-color;
    border-color: @primary-color;
    color: @light-text-color;

    &:hover {
        color: @light-text-color;
        background-color: @light-primary-color;
        border-color: @light-primary-color;
    }

    &:disabled {
        color: @light-text-color;
        background-color: @disabled-color;
        border-color: @disabled-color;
    }
}

.button-small {
    padding: 5px 10px;
}

.button-icon {
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-text {
    font-style: italic;
    color: @medium-text-color;
}

.truncated-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.error-text {
    color: #E53935;
}

.hidden {
    display: none;
}

// Dialogs
.ReactModal__Content {
    background-color: white;
    width: 400px;
    min-height: 100px;
    max-height: 80vh;
    border: 1px solid @border-color;
    padding: 0 !important;
    position: relative !important;
    display: flex;
    flex-direction: column;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;

    &:focus {
        border: 1px solid @border-color;
    }
}

.ReactModal__Overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.75) !important;
}

.dialog-heading {
    border-bottom: 1px solid @border-color;
    padding: 10px;
    flex: 0 0 auto;

    h4 {
        margin-bottom: 0;
    }
}

.dialog-body {
    padding: 0 10px;
    overflow-y: auto;
}

.dialog-buttons {
    border-top: 1px solid @border-color;
    display: flex;
    padding: 10px;
    flex: 0 0 auto;

    .button:first-child,
    button:first-child {
        margin-left: auto;
        margin-right: 10px;
    }
}

.fade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

// Landing
.body-landing {
    .body {
        padding: 0;
    }

    .navbar {
        background-color: @dark-background-color;
    }
}

.landing {
    background-image: url(/images/landing.jpg);
    width: 100%;
    height: 100%;
}

.landing-shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-content {
    display: flex;
    flex-direction: row;
}

.landing-description {
    color: white;
    width: 400px;
    margin: 0 20px;

    h1 {
        font-size: 3rem;
        line-height: normal;
    }

    h1, h3 {
        font-weight: normal;
        color: inherit;
    }
}

.landing-registration {
    width: 400px;
    padding: 20px 30px;
    margin: 0 20px;
    border: 1px solid @border-color;
    background-color: #F5F5F5;
}

.landing-details {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.landing-tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.tile {
    flex: 1 1 0;
    margin: 0 20px;
    background-color: white;
    border: 1px solid @border-color;
}

.confirmation-body {
    display: flex;
    align-items: center;
    margin: 10px 0;

    .fa {
        margin-right: 10px;
    }
}