﻿@import "~getbase/less/base";
@import "constants.less";
@import "main.less";

@toolbar-color: #FBFBFB;

#network-editor {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    margin-top: 10px;
}

.network-editor-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    > button {
        align-self: flex-start;
        margin-bottom: 10px;
        flex: 0 0 auto;
    }
}

.toolbar {
    display: flex;
    align-items: stretch;
    flex: 0 0 40px;
    background-color: @toolbar-color;
    border: 1px solid @border-color;
}

.toolbar-button {
    .button();

    border-radius: 0;
    display: flex;
    align-items: center;
    border-top: none;
    border-bottom: none;
    border-left: none;
    padding: 10px 15px;
}

.toolbar-button-primary {
    .button-primary();

    border-radius: 0;
    display: flex;
    align-items: center;
    border-top: none;
    border-bottom: none;
    border-left: none;
    padding: 10px 15px;
}

.display-area {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    background-color: white;
    border-right: 1px solid @border-color;
    border-bottom: 1px solid @border-color;
    border-left: 1px solid @border-color;
    position: relative;

    svg {
        width: 100%;
        flex: 1 1 0%;
    }
}

.panel {
    position: absolute;
    overflow-y: auto;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    padding: 10px;
    border-left: 1px solid @border-color;
    background-color: @background-color;
}

.details-heading,
.details-heading-buttons {
    display: flex;
    align-items: center;
    min-height: 35px;

    > * {
        margin-right: 5px;
    }
}