﻿@import "~getbase/less/base";

@import "constants.less";

.list-item-container {
    border: 1px solid @border-color;
    margin: 10px 0;
    padding: 10px;
    background-color: white;

    .list-item-heading {
        display: flex;
        flex-direction: column;
    }

    .list-item-row-heading {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        > * {
            margin-right: 5px;
        }
    }

    p {
        margin: 10px 0 0 0;
    }
}

// Network page
.heading {
    display: flex;
    align-items: center;

    & > * {
        margin-right: 10px;
    }
}

.section {
    margin: 15px 0;

    .section-heading > *{
        display: inline-block;
        margin-right: 20px;
    }
}

.grid {
    .grid-row {
        display: flex;
        padding: 5px 0;
    }

    .label-cell {
        flex: 0 0 100px;
        color: @medium-text-color;
        font-weight: bold;
    }

    .cell {
        flex: 1 1 0;
    }
}

.version-comment {
    margin: 10px 0 0 0;
}