﻿@using Cortex.Auth
@model Cortex.Web.Models.NetworkVersions.NetworkVersionDetailsModel

@{
    ViewBag.Title = "Version of " + Model.NetworkName;
}

<div class="heading">
    <a class="fs-2" asp-controller="Networks" asp-action="GetNetwork" asp-route-id="@Model.NetworkId">
        @Model.NetworkName
    </a>
</div>


<small>
    <span>Version by</span>
    @Html.DisplayForUser(Model.Author, User.GetNullableId())
    <time datetime="@Model.Date.ToString("o")" data-local></time>
</small>

<p class="version-comment">
    @Model.Comment
</p>

<div id="network-editor"
     data-network-id="@Model.NetworkId"
     data-version-id="@Model.Id"
     data-is-read-only="@Model.IsReadOnly"
     data-is-edit="false"></div>