﻿@using Cortex.Auth
@using Cortex.Web.Models.NetworkVersions
@model NetworkVersionsListModel

@if (Model.Versions.Count == 0)
{
    <span class="empty-text">No versions yet</span>
}
else
{
    <div>
        @foreach (NetworkVersionModel version in Model.Versions)
        {
            <div class="list-item-container">
                <div class="list-item-row-heading">
                    <small>
                        @Html.DisplayForUser(version.Author, User.GetNullableId())
                        <a asp-controller="NetworkVersions"
                           asp-action="GetVersion"
                           asp-route-networkId="@version.NetworkId"
                           asp-route-versionId="@version.Id">
                            <time datetime="@version.Date.ToString("o")" data-local></time>
                        </a>
                    </small>
                    
                    @if (Model.CanEdit)
                    {
                        <button title="Revert"
                                class="button-primary button-icon"
                                data-confirmation=""
                                data-confirmation-text="Are you sure you want to revert this version?"
                                data-confirmation-url="@Url.Action("RevertVersion", "NetworkVersions", new { versionId = version.Id })">
                            <i class="fa fa-undo"></i>
                        </button>

                        <button title="Reset to"
                                class="button-primary button-icon"
                                data-confirmation=""
                                data-confirmation-text="Are you sure you want to reset to this version? WARNING: all newer versions will be deleted."
                                data-confirmation-url="@Url.Action("ResetToVersion", "NetworkVersions", new { versionId = version.Id })">
                            <i class="fa fa-arrow-left"></i>
                        </button>
                    }
                </div>
                @if (String.IsNullOrEmpty(version.Comment))
                {
                    <p class="empty-text">
                        No comment
                    </p>
                }
                else
                {
                    <p class="truncated-text" title="@version.Comment">@version.Comment</p>
                }
            </div>
        }
    </div>
}