﻿@using Cortex.Web.Models.Shared
@model Cortex.Web.Models.Networks.NetworkEditModel

@{
    ViewBag.Title = $"Edit {Model.Name}";
}

<h2>Edit network</h2>

<form class="form" method="post" data-validate="" asp-controller="Networks" asp-action="Edit">
    <input asp-for="Id" />
    <div class="form-row">
        <label asp-for="Name"></label>
        <input id="name-input" required="" maxlength="100" asp-for="Name" />
    </div>
    <div class="form-row">
        <label class="top-label" asp-for="Description"></label>
        <textarea id="description-input" rows="5" maxlength="6000" asp-for="Description"></textarea>
    </div>

    <div class="form-row">
        <label class="top-label">Access</label>
        <div class="hidden" id="view-users">
            @foreach (UserDisplayModel user in Model.ViewUsers)
            {
                <div data-id="@user.Id" data-user-name="@user.UserName.ToLower()" data-name="@user.Name"></div>
            }
        </div>
        <div class="hidden" id="edit-users">
            @foreach (UserDisplayModel user in Model.EditUsers)
            {
                <div data-id="@user.Id" data-user-name="@user.UserName.ToLower()" data-name="@user.Name"></div>
            }
        </div>
        <div class="editor" 
             id="access-editor"
             data-view-mode="@Model.ViewMode"
             data-edit-mode="@Model.EditMode"
             data-view-users-id="view-users"
             data-edit-users-id="edit-users"></div>
    </div>

    <div class="buttons-section">
        <a class="button-light" asp-controller="Networks" asp-action="GetNetwork" asp-route-id="@Model.Id">Cancel</a>
        <button type="submit" class="button-primary">Save</button>
    </div>
</form>