﻿@using Cortex.Auth
@using Cortex.Web.Models.Shared
@model Cortex.Web.Models.Networks.NetworkDetailsModel

@{
    ViewBag.Title = Model.Name;
}

<div class="heading">
    <span class="fs-2">@Model.Name</span>
    @if (Model.IsOwner)
    {
        <a class="button-primary button-small" asp-controller="Networks" asp-action="EditNetwork" asp-route-id="@Model.Id">
            <i class="fa fa-edit"></i>
            <span>Edit</span>
        </a>
    }
    @if (Model.HasVersions)
    {
        <a class="button-primary button-small" asp-controller="NetworkVersions" asp-action="GetCurrentVersion" asp-route-networkId="@Model.Id">
            <i class="fa fa-eye"></i>
            <span>View</span>
        </a>
    }
</div>

<small>
    <span>by</span>
    @Html.DisplayForUser(Model.Author, User.GetNullableId())
    <time datetime="@Model.CreatedDate.ToString("o")" data-local></time>
</small>

@if (Model.IsOwner)
{
    <div class="section">
        <h4>Access</h4>
        <div class="grid">
            <div class="grid-row">
                <span class="label-cell">View</span>
                <div class="cell">
                    <span>@Model.ReadAccess</span>
                    @if (Model.ReadAccessUsers.Any())
                    {
                        string users = String.Join(", ", Model.ReadAccessUsers.Select(u => $"{u.Name} <{u.UserName.ToLower()}>"));

                        <span>(@users)</span>
                    }
                </div>
            </div>
            <div class="grid-row">
                <span class="label-cell">Edit</span>
                <div class="cell">
                    <span>@Model.WriteAccess</span>
                    @if (Model.WriteAccessUsers.Any())
                    {
                        string users = String.Join(", ", Model.WriteAccessUsers.Select(u => $"{u.Name} <{u.UserName.ToLower()}>"));

                        <span>(@users)</span>
                    }
                </div>
            </div>
        </div>
    </div>
}

<div class="section">
    <h4>Description</h4>
    @if (String.IsNullOrEmpty(Model.Description))
    {
        <div class="empty-text">
            No description
        </div>
    }
    else
    {
        <div>
            @Model.Description
        </div>
    }
</div>

<div class="section">
    <div class="section-heading">
        <h4>Versions</h4>
        @if (Model.CanEdit)
        {
            <a class="button-primary button-small"
               asp-controller="NetworkVersions"
               asp-action="CreateVersion"
               asp-route-networkId="@Model.Id">
                <i class="fa fa-plus"></i>
                <span>Add</span>
            </a>
        }
    </div>
    <div>
        @await Component.InvokeAsync("NetworkVersions", new { networkId = Model.Id, userId = User.GetNullableId() })
    </div>
</div>