﻿@using Cortex.Web.Models.Networks
@model List<NetworkModel>

@{
    ViewBag.Title = "Your networks";
}

<h2>Your networks</h2>

@if (Model.Count > 0)
{
    <div class="networks-list">
        @foreach (NetworkModel network in Model)
        {
            <div class="list-item-container">
                <div class="list-item-heading">
                    <a class="fs-3" asp-controller="Networks" asp-action="GetNetwork" asp-route-id="@network.Id">
                        @network.Name
                    </a>
                    <small>
                        <time datetime="@network.CreatedDate.ToString("o")" data-local></time>
                    </small>
                </div>
                @if (String.IsNullOrEmpty(network.Description))
                {
                    <p class="empty-text">
                        No description
                    </p>
                }
                else
                {
                    <p class="truncated-text" title="@network.Description">@network.Description</p>
                }
            </div>
        }
    </div>
}
else
{
    <p>
        You have no networks yet. <a asp-controller="Networks" asp-action="CreateNetwork">Create new network</a>.
    </p>
}